html, body {
    background-color: lightgrey;
    margin: 0;
    padding: 0;

}

.top-header{
    background: linear-gradient(120deg,#2980b9,#8e44ad) ;
    font-size: 20px;
}
.menu-item{
    color: white;
    padding: 15px;
    display: inline-block;
    text-decoration: none;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 10%;
    

}
.brand{
    font-size: 18px;
    font-weight: 600;
}

.main-content{
    max-width: 700px;
    margin: auto;
    border-radius: 10%;
}
.box {
    background-color: white;
    padding: 20px;
    margin: 30px;
}

.img {
    width: 100%;
    align-items: baseline;

}


