.offcanvas-backdrop {
  background-color: rgba(95, 158, 160, 0) !important;
  
}
.body{
  font-family: 'Kanit', sans-serif  !important;
  width: 100%;
  height: 100%;
  position: absolute;
  background-repeat: no-repeat;
  background-size: cover;
}
.zoom:hover {
  transform: scale(1.05); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
  z-index:1000;
}
.bb{
  border-radius: 50% !important; }
.information{
  margin: 0 auto 30px!important;
  display: table!important;
}
.liform{
  border-left: solid 2px #eee !important;
  list-style: none!important;
  padding: 0 0 0 20px;
  font-size: 14px!important;

}

.licrcle {
  float: left !important;
  margin-left: -30px !important;
  padding:2 0 25px 0px!important;
  border-radius: 50px!important;
  margin: -13px -45px!important;
  height: 50px!important;
  width: 50px!important;
  text-align: center!important;
  -webkit-box-decoration-break: clone!important;
}
.li-title{
  margin-left: 25px!important;
  line-height: 34px!important;
}
.fs-7{
  font-size: 10px !important;
}
.diviver{
  border-top: 1px solid #eee;
  margin: 20px 0;
  padding-left: 5%;
  padding-right: 5%;
  width: 100%;
  height: 100%;

}