.lgbackground{
    background-color: azure;
}

.lg{
   
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
    background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/hero/mwii/MWII-LAUNCH-INTEL-TOUT.jpg");
}
.register body {
    background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/hero/mwii/MWII-LAUNCH-INTEL-TOUT.jpg");
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: #ffffff;
    width: 100%;
    height: 100%;
    position: absolute;
}
.colmd {
    /* background-color: rgb(161, 159, 159); */
    padding: 50px;
    
    
    
}
.a{
    text-decoration:none !important;
    
    color: #ffffff;
  }
  .stest {
    background-color: #141313;
    
  }

/* .searchh{
    
    border: 3rem !important;
  border-radius: 1rem !important;
  width: 400px !important;
  font-size: 16px !important;
  background-color: #504f4f ;
} */

.colmds{
    padding:80px;
    width: 600px !important;
}

.header {
  display: flex;
  
  align-items: center;
  position:  relative;
  top: 0;
  right: 0;
  height: 60px;
  width: 100%;
  background-color: #111111;
  
}
.header {
  display: flex;
  
  align-items: center;
  position:  relative;
  top: 0;
  left: 1190px;
  height: 100px;
  width: 100%;
  background-color: #111111;
  
}.headerr {
  display: flex;
  
  align-items: center;
  position:  relative;

 
  
}

.profile {
  display: flex;
  align-items: center;
  margin-right: 20px;
  
}

.username {
  font-weight: bold;
  margin-right: 5px;
  color: #eadfdf; 
}

.logout-btn {
  margin-right: 20px;
}
.col {
  display: flex;
  align-items: center;
}

.sortt {
  justify-content: space-between;
}

.footertest{
 
  text-decoration: none !important;
  
  position:  relative;
  height: 400px;
  width: 100%;
  font-size: 17px;
  color: #ffffff;
  font-weight: 700;
  
  letter-spacing: 1px;
}
.link{
  text-decoration: none !important;
  color: white;
  
  
}

.linkk{
  color: #bbbbbb;
}
.linkk2{
  text-decoration: none !important;
  color: #bbbbbb;
}
.cam1 {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fffefe;
  object-fit: cover;
  width: 100%;
  height: 100%;
}
.imgg{
  object-fit: cover;
  width: 100%;
  height: 100%;
}