@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Alfa+Slab+One&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
  background-color: #141414 !important;
  margin: 0% !important;
  background-color: #141414;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}

.hedd {
  position: fixed;
}

.Head {
  margin: 0;
  padding: 0;
  box-sizing: border-box;


}

.container {
  position: relative;


}

.bg {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg::after {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  background-image: url("https://wallpapers.com/images/featured/pmk61whx1j7kjhve.jpg");

  z-index: -1;
  background-size: cover;
  background-position: center;
}

.menu {
  position: relative;
  width: 85%;
  height: 15vh;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;

}

.menu ul a {
  text-decoration: none;
  color: #fff;
  font-size: 14px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

* li {
  list-style: none;
}

.menu ul {
  display: flex;
  align-items: center;
}

.menu ul li {
  padding: 0 17px;
}

.lead3 {
  border-radius: 5rem !important;
  background-color: #23db32 !important;
  font-weight: 700 !important;
  letter-spacing: 1px;
}


.centered {
  position: absolute;
  top: 59%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: rgb(207, 206, 206);

  font-size: 15px !important;
  padding: 3em !important;
  text-transform: uppercase;
}

.h1 {
  font-size: 2px !important;
  color: white !important;
  font-family: 'Bebas Neue', cursive;

  padding: 1em;


}

@media (max-width: 55em) {
  p.hh1 {
    font-size: 2.5rem;
    letter-spacing: -2.5px;
    margin-bottom: 2px;
    line-height: 1.1;
    font-family: 'Mouse Memoirs', sans-serif !important;

  }
}

@media (max-width: 90em) {
  p.hh1  {
    font-size: 3rem;
    letter-spacing: -3px;
}
}

@media (max-width: 120em) {
  p.hh1   {
    font-size: 4rem;
    letter-spacing: -4px;
}
}







.hh1 {
  font-size:3rem !important;
  color: rgb(255, 255, 255);
  font-weight: 500 !important;
  font-family: 'Mouse Memoirs', sans-serif !important;
  text-transform: uppercase;
  letter-spacing: 1px !important;
  text-align: center;


}

.h3 {
  font-size: 2.5rem !important;
  color: rgb(255, 255, 255);
  font-family: 'Mouse Memoirs', sans-serif !important;
  letter-spacing: 0.5px;
  padding: 2px;
  font-weight: 500 !important;
  text-align: center;


}


.lead1 {
  border-radius: 3rem !important;
  padding: 1em;
  font-size: 0.5rem !important;
  text-transform: uppercase !important;
  font-weight: 700 !important;
  letter-spacing: 0.5px !important;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center !important;
}

.lead2 {
  background-color: #0aa517 !important;
  border: 3rem !important;
  padding: 3em;
  border-radius: 3rem !important;
  font-size: 23px !important;
  font-family: 'Mouse Memoirs', sans-serif !important; 
  letter-spacing: 2px !important;

  

}

.sidebar {
  width: 280px !important;
  box-sizing: content-box;
  height: 100% !important;

}

.filter {
  color: rgb(185, 183, 183) !important;
  width: 10em;
  ;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  font-size: 16px;
  margin-left: 1em;

}

.menu2 {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 15px;
  font-weight: 700 !important;
  color: rgb(252, 252, 252) !important;
  align-items: center !important;
  background-color: rgb(20, 19, 19) !important;
  padding: 0 5px;
  object-fit: cover;
  width: 100%;
  height: 100%;


}

.menu4 {
  background-color: #2e2e2e !important;
  font-size: 17px !important;



}

.carddd {
  padding: 10px !important;


}


.card.text-center {
  justify-content: center;
  display: flex;
  align-items: center;
}



.card {
  background-color: rgb(15, 15, 15) !important;
  justify-content: center !important;
  display: flex !important;
  align-items: center !important;
}

.img {
  display: flex;
  justify-content: center;
}

.img1 {
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 400px) {
  .img {
    display: block;


  }

  .img1 {
    display: block;
    width: 400px;


  }
}



.cardtext {
  font-size: 30px !important;
  text-align: center !important;
  color: white;
}

.hh {
  font-weight: 700 !important;
  font-family: 'Courier New', Courier, monospace !important;
  font-size: 22px !important;
  color: #f5eded !important;

}


.h5 {

  font-weight: 500 !important;
  font-size: 16px !important;
  font-family: 'Courier New', Courier, monospace !important;
  color: rgb(145, 16, 16) !important;
}

.h11 {
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-weight: 700;
  text-align: center;
  font-size: 70px;
  color: #f3f2f2;



}


.cardd {
  background-color: rgb(20, 19, 19) !important;
}

.item {
  font-size: 22px !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  color: #b9b6b6;

}

.itemm {

  font-family: 'Bangers', cursive;
  font-size: 20px;
  font-weight: 400 !important;
  color: #f0f0f0;
  text-align: center !important;
  letter-spacing: 1px;
  background-color:#111111 ;
}

.footer {
  background-color: rgb(37, 37, 37) !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;




}

.h55 {
  font-size: 22px !important;
  font-family: 'Courier New', Courier, monospace !important;
  color: rgb(145, 16, 16) !important;
  font-weight: bold !important;



}


/* .sidebar{
  width: 280px !important;
  height: 100% !important;
  --left-sidebar-width:300px !important;
  background-color:rgb(71, 71, 71);

  

} */

.mb {
  color: rgb(209, 203, 203);
  padding: 1px;
  font-weight: 700;

}







body {
  background-color: #fbfbfb;
}

@media (min-width: 991.98px) {
  main {
    padding-left: 200px;
  }
}

.bgg {
  color: #faf4f4 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  font-size: 17px !important;

}




/* Sidebar */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  padding: 59px 0 0;
  /* Height of navbar */
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 5%), 0 2px 10px 0 rgb(0 0 0 / 5%);
  width: 240px !important;
  z-index: 800 !important;


}

@media (max-width: 991.98px) {
  .sidebar {
    width: 100%;
  }
}

.sidebar .active {
  border-radius: 5px;
  box-shadow: 0 2px 5px 0 rgb(0 0 0 / 16%), 0 2px 10px 0 rgb(0 0 0 / 12%);
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: 0.4rem;
  overflow-x: hidden;
  overflow-y: auto;
  /* Scrollable contents if viewport is shorter than content. */


}

.roww {
  padding-left: 1%;
}

.sin{
  
  color: #f3f2f2 !important;
  font-size: 24px !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  padding : 9px;
  border: #141414 ;
  
  
  
  
  
}

.search {
  border: 3rem !important;
  padding: 0.5em;
  border-radius: 1rem !important;
  width: 340px !important;
  font-size: 16px !important;
  background-color: #181818 ;
  color: #949494 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  justify-items: end !important;
}

.all {
  border: 2rem !important;
  justify-self: center;
  align-items: center;
  border-radius:1rem!important;
  text-align: center !important;
  font-size: 13px !important;
  background-color: #181818;
  color: #949494 !important;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif ;
  width: 100px !important;

  height: 30px;

}

.bdca {
  background-color: #dd2323;
}

.a {
  text-decoration: none !important;
}
.a:hover{
  color: #eaebea !important;
}
.pb {
  background: linear-gradient(120deg, #052203, #070000)
}

.navbarr {
  position: fixed !important;
  top: 0 !important;
  width: 100%;
  background-color: #2b2a2a !important;
  overflow: hidden;
 
  
}

.searchh {
  font-family: 'Bangers', cursive;
  font-size: 16px !important;
  letter-spacing: 4px;
  
}

.Ima{
  padding: 1px 1px!important;
}

.sortt {
  padding: 8px 0.5px !important;
  justify-content: left !important;
}

.Ima {
  padding: 1px 1px !important;
}

.butt {
  height: 2em !important;
  font-family: 'Bangers', cursive !important;
  background: linear-gradient(120deg, #0d7408, #030f04);
  letter-spacing: 2px;

  border: 3rem !important;
  padding: 1em;
  border-radius: 18px !important;
  font-size: 17px !important;
}

.btnn {
  grid-gap: 5em !important;
  border: 3rem !important;
  font-size: 30px !important;
  color: #eaebea !important;

  font-family: 'Bangers', cursive !important;
  background: linear-gradient(120deg, #0d7408, #030f04);
  padding: 20px !important;


}

.btt {
  grid-gap: 5em !important;
  border: 3rem !important;
  font-size: 40px !important;
  color: #cac9c9 !important;
  padding: 10px !important;
  font-family: 'Bangers', cursive !important;
}

.collapse {
  background-color: #313131 !important;
}

.but {

  background-color: #069712 !important;
  letter-spacing: 1px;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif !important;
  font-weight: bold !important;
  border: 2rem !important;
  padding: 0.2em;
  border-radius: 3rem !important;
  font-size: 0.9rem !important;
}

.bg-image {
  background-image: url("https://www.callofduty.com/content/dam/atvi/callofduty/cod-touchui/blog/hero/mw-wz/WZM-LIMITEDRELEASE-1128-TOUT.jpg");

  background-size: cover;

  top: 0;
  bottom: 0;
  background-repeat: no-repeat;
  padding-top: 20%;
  padding-bottom: 50%;
  height: 100%;
  width: 100%;
  justify-content: center;
  display: flex;
  align-items: center;
}


.bgContent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;

}

.bgg {
  position: relative;
  height: 75vh;
}

.content {

  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.contentLayoutContainer {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

}

@media (max-width: 560px) {
  img.card-img-top.img-fluid-d {
    width: 100px !important;
    height: 100px !important;

  }

  div.card.b {
    padding: 1px;
  }

  div.card-a {
    width: 100px;
    height: 200px !important;



  }
}

@media (max-width: 560px) {
  img.card-img-top.img-fluid.dd {
    width: 100px !important;
    height: 100px !important;


  }

  div.card-a {
    width: 100px;
    height: 200px !important;



  }

  h5.itemm {
    font-size: 15px;
    padding-bottom: 30px;
  }

  h6.card-subtitle.mb-2.text-muted {
    font-size: 12px;


  }

}

.tx{
  text-align: center !important;
}


.content2 {
  max-width: 45em;
  color: white;
  padding: 6em;
  letter-spacing: 1.5px;
  font-family: 'Bangers', cursive;


}

.content2 h1 {
  font-size: 5em;
  letter-spacing: 3px;
  font-family: 'Bangers', cursive;
  color: white;


}

.content2 h2 {
  letter-spacing: 2px;
  font-size: 1.5em;
  font-family: 'Bangers', cursive;
}

.content2 p {
  font-size: 25px;
  letter-spacing: 1px;

  font-family: 'Bangers', cursive;

}

.content1 {
  height: 100%;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  max-width: 50em;
  color: rgb(255, 255, 255);
  padding: 6em;
  letter-spacing: 1.5px;
  font-family: 'Creepster', cursive;

}

.contentButton {
  margin-top: 2em;
  display: flex;

}

.buttong {
  border-radius: 20px;
  border: none;
  letter-spacing: 3px;
  font-weight: bold;
  text-transform: uppercase;
  height: 2em;
  padding: 0 1.5em;
  background: linear-gradient(120deg, #0d7408, #030f04);
  font-family: 'Bangers', cursive;
  color: #e6e6e6f3;
  font-size: 22px;
}

.contentBelowBanner___1csYL {
  margin: 56px 0;
}

.hover {
  cursor: pointer;
  padding: 20px;

}

.titlePadding___2lp1P {
  padding: 0 40px;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(226, 226, 226, 0.5);
  display: inline-flex;
  font-family: 'Creepster', cursive;
  margin-bottom: 30px;
  font-size: 35px;
  letter-spacing: 2.5px;


}

.horizontalScroll___1O_E3 {
  overflow: unset;
  padding: 30px;
  will-change: transform;
  position: relative;
  overflow-x: auto;
  overflow-y: hidden;
  padding: 2px 0 2px 0;
}

.row___2fBWZ {

  white-space: nowrap;
}

.cell___3sPIk {
  width: calc(20% * 1 - 9.6px);
  display: inline-block;
  margin-left: 8px;
  height: 95%;
  z-index: index -1;

}

.cellGuts___1TMU_ {

  position: relative;
  width: 100%;
}

.clickableBox___1HFCs {
  cursor: pointer;
  width: 100%;
  height: 100%;
  display: block;
  text-decoration: none;
  color: inherit;
  border-radius: 6px;
  background-color: #202020;
}

.boxWithAspectRatioContainer___2hILe {
  padding-bottom: 100%;
  position: relative;
}

.boxWithAspectRatioInner___2gUvu {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.css-1k8lzl2 {
  height: 100%;
  text-align: center;
  height: 95%;
  aspect-ratio: 1/2;
}

.css-2pknc3 {
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;

  transform: translate(-50%, -50%);
}

.sideArrow___1s2uV {
  opacity: 1;

  position: absolute;
  cursor: pointer;
  top: 0;
  bottom: 0;
  padding: 0;
  background: 0 0;
  border: none;
  z-index: 10;
}

.sideArrowRight___3W9nJ {
  right: 0;
  border-top-left-radius: 6px;
  border-bottom-left-radius: 6px;
}

.sideArrowLeft___3E_Fq {
  left: 0;
  border-top-right-radius: 6px;
  border-bottom-right-radius: 6px;
}

.sideArrow___1s2uV svg path {
  stroke: rgba(255, 255, 255, 0.5);
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  transition: stroke 0.25s
}

.sideArrow___1s2uV svg {
  width: 100%;
  max-width: 45px;
  transition: transform 0.25s;
}

.sideArrowRight___3W9nJ:hover svg {
  transform: rotate(-180deg) scale(1.1);
}

.sideArrowRight___3W9nJ svg {
  transform: rotate(-180deg);
}

.horizontalScroll___1O_E3 .sideArrow___1s2uV {
  display: block;

  transition: opacity 0.25s, visibility 0.25s;
}

#containersc {


  margin: auto;

  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
  scroll-snap-type: x mandatory;
}

.collapse {}

.btnn {
  grid-gap: 5em !important;
  border: 3rem !important;
}
.bta{
  background-color: #0aa517 !important;
  border-color: #030f04  !important;
}

.img-fluid-d {}

.img-fluid-dd {}

.sw {
  padding: 0 53px;
  color: white !;
}