body{
    
    margin: 0;
    padding: 0;
    background: linear-gradient(120deg,#2980b9,#8e44ad) ;
    height: 100vh;
    overflow: hidden;
    font-family: 'Quicksand', sans-serif;
}
.container{
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    background: white;
    border-radius:10px ;
    
    
}
.container h1{
        font-size: 30px;
        text-align: center;
        border-bottom: 1px solid silver;
        padding: 0 0 20px 0;
    
}
.container input{
    padding: 0 40px;
    align-items: center;
    margin-left: 70px;
    margin-top: 7px;
    height: 30px;
    border-radius:10px ;
    
}

.submit {
    margin-bottom: 20px;
    margin-left: 65px;
    
}

.submit input{
    background:#2691d9;
    border-radius:25px;
    cursor: pointer;
    outline: none;
    color: aliceblue;
    border: 1px solid;
    
    
}