.box {
    background-color: aqua;
    padding: 20px;
    margin-bottom: 20px;

}

.titl {
    font-size: 60ex;

}

.text{
    font-size: 30px;
}

.button{
    color: beige;
    background-color: burlywood;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 10px;
    
}